@import './variables';
.attribution { 
    position: absolute;
    bottom: 1rem;
    font-size: 11px; 
    text-align: center;
    color: white;
    a { 
        color: hsl(228, 45%, 44%); 
        &:hover {
            color: $Soft-red;
        }
    }
}